{
    "presets": [
        [
            "env",
            {
                "modules": false,
                "targets": {
                    "node": "current",
                    "uglify": true
                }
            }
        ],
        "stage-2"
    ]
}