language: node_js
node_js:
  # - 'node' # use latest stable nodejs version
  - "4"
  - "5"
  - "6"
  - "7"
  - "8"
  - "9"
cache:
  directories:
    - "node_modules"
  yarn: true

script:
  - npm run coverage # jest test with coverage flag does coverage too
# after_script:
#   - 'cat coverage/lcov.info | ./node_modules/.bin/coveralls' # sends the coverage report to coveralls
